<div class="instructor">
    <div class="image">
        <img class="img" src={{image}} alt="{{name}}">
    </div>
    <div class="text">
        <a href="/profile/rating/{{id}}" class="link">Rate Your Instructor!</a>
        <div class="comments">
            <p>Previous Comments:</p>
            <div class="data">
            {{#each score}}
                <div>Username: {{this.username}}</div>
                <div>Comment: {{this.comment}}</div>  
                <div>Rating: {{this.rating}}</div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
