<div class="instructor">
    <div class="image">
        <img class="img" src="../images/don.jpg" alt="{{name}}">
    </div>
    <div class="text">
        <a href="/rate/{{name}}" class="link">Rate Your Instructor!</a>
        <div class="comments">
            <p>Previous Comments:</p>
            <div class="data">
            {{#each}}
                <div>{{username}}</div>
                <div>{{comment}}</div>  
                <div>{{rating}}</div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
